<div class="container">
      <hr class="my-4">
      <h3>{{ detalle.name }}</h3>

      <!-- Mostrar estrellas de calificacion segun su puntuacion -->
      <div class="calificacion">
        <ng-container [ngSwitch]="detalle.price">
            <ng-container *ngSwitchCase="1">
                <p><img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_empty.png">
                   <img src="../../assets/img/s_empty.png">
                   <img src="../../assets/img/s_empty.png">
                   <img src="../../assets/img/s_empty.png">
                </p>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <p><img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_empty.png">
                   <img src="../../assets/img/s_empty.png">
                   <img src="../../assets/img/s_empty.png">
                </p>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <p><img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_empty.png">
                   <img src="../../assets/img/s_empty.png">
                </p>
            </ng-container>
            <ng-container *ngSwitchCase="4">
                <p><img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_empty.png">
                </p>
            </ng-container>
            <ng-container *ngSwitchCase="5">
                <p><img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                   <img src="../../assets/img/s_full.png">
                </p>
            </ng-container>
          <ng-container *ngSwitchDefault>0</ng-container>
        </ng-container>
      </div>

      <img class="rounded" src="{{ detalle.image_url }}" alt="">
</div>

  <div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Informacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Ubicacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Menu</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active" style="text-align: justify"><br>
        <h3>Informacion</h3>
        <div class="card-body">
          <p>Telefono: {{ detalle.phone }}</p>
          <p>Codigo Postal: {{ detalle.postal_code }}</p>
          <p>Direccion: {{ detalle.address }}</p>
          <p>Area: {{ detalle.area }}</p>
          <p>Ciudad: {{ detalle.city }}</p>

          <p class="card-text">Pais:
            <!-- Convertir siglas de paises a Nombres Completos segun su codigo -->
            <ng-container [ngSwitch]="detalle.country">
                <ng-container *ngSwitchCase="'AW'">Aruba</ng-container>
                <ng-container *ngSwitchCase="'CA'">Canada</ng-container>
                <ng-container *ngSwitchCase="'CN'">China</ng-container>
                <ng-container *ngSwitchCase="'GP'">Guadalupe</ng-container>
                <ng-container *ngSwitchCase="'HK'">Hong Kong</ng-container>
                <ng-container *ngSwitchCase="'KN'">San Cristóbal y Nieves</ng-container>
                <ng-container *ngSwitchCase="'KY'">Islas Caiman</ng-container>
                <ng-container *ngSwitchCase="'MO'">Macao</ng-container>
                <ng-container *ngSwitchCase="'MX'">Mexico</ng-container>
                <ng-container *ngSwitchCase="'MY'">Malasia</ng-container>
                <ng-container *ngSwitchCase="'SV'">El Salvador</ng-container>
                <ng-container *ngSwitchCase="'US'">Estados Unidos</ng-container>
                <ng-container *ngSwitchCase="'VI'">Islas Vírgenes</ng-container>
                <ng-container *ngSwitchDefault>Default</ng-container>
              </ng-container>
</p>

          <a href="{{ detalle.reserve_url }}" class="btn btn-primary">Reservar</a>
        </div>
      </div>
      <div id="menu1" class="container tab-pane fade"><br>

         <!-- Mapa de ubicacion segun su location -->
        <h3>Ubicacion</h3>
        <p>Direccion: {{ detalle.address }}</p>
        <app-location></app-location>
        </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <h3>Menu</h3>

        <h5 style="text-align: justify">Conming soon....</h5>
        </div>
    </div>
  </div>

  <hr>


 <!-- En caso de no seleccionar ningun restaurante -->
<ng-template #vacio>
  <h1>No estas seleccionando ningun restaurante</h1>
</ng-template>
